@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, body
{
    margin: 0px;
}
body {font-family: 'Roboto', sans-serif;}

.navbar {
  z-index: 10;
  width: 100%;
  background-color: #04AA6D;
  overflow: auto ;
}

.navbar a {
  float: left;
  display: block;
  padding: 0px;
  color: white;
  text-decoration: none;
  font-size: 1.5em;
   text-align: center;
}

div.navbar h1 {
  
  display: block;
  padding: 0px;
  color: white;
  text-decoration: none;
  font-size: 215%;
   text-align: center;
}

.navbar a:hover {
  background-color: #555;
  
}

.active {
  background-color: #04AA6D;
}


.bar {
  width: 2em;
  height: 0.3em;
  background-color: white;
  margin: 7px 0;
  transition: 0.4s;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  margin: auto 1em;
  text-decoration: none;
  font-size: 2em;
  color: #818181;
  transition: 0.3s;
  display: block;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left .5s;
  padding: 18px;
  padding-bottom: 22px;
}



.offset:hover, .offset:focus {
     box-shadow: 0 0 0 0 var(--hover), inset 13em 3.5em 0 0 var(--hover);
}
 .offset {
     --color: #FFFFFF;
     --hover: #038555;
}
 button.offset {
     color: var(--color);
     transition: 0.4s;
     cursor: pointer;
}
 button.offset:hover, button.offset:focus {
     border-color: var(--hover);
     color: #FFFFFF;
}

 button.offset {
     background: none;
     border: 2px solid;
     line-height: 1;
     margin: 0.5em;
     padding: 1em 2em;
     cursor: pointer;
}
table td
 {
margin: 0 auto;
 }

div.boxdecapteur
{
  max-width:1060px;
  margin: auto;
 
}



.gwsolo {
    margin:-2em auto 2em;
}


th {
  padding: 50px 0 0 0;
}

h1#solo{
    margin: 0 0 0 0;
}

.capteurbox
{
  display: table;
  width: 100%;
}
.eventbox
{
  display: table;
  width: 100%;
}
.col {
  display: table-cell;
  padding: 16px;
}
.block {
    display: block;
    width: 80%;
    padding: 16px;
}




div.back
{
    margin: 0 auto;
    padding: 2em 10%;
    text-align: center;
    background: #E0E0E0;
}
.flexible {
    flex-grow: 1;
}
div.spacertxt
{
height: 2em;
overflow: hidden;
width: 100%;
}

div.spacertxtpt
{
height: 1.75em;
overflow: hidden;
width: 100%;
}
.hrstyle{
	background-color:#F0F0F0;
	border:0pt none;
	color:#223645;
	height:1px;
	margin:0 auto;
	text-align:center;
	box-shadow:3px -1px 1px #223645;
	border-opacity: 0.5;
	width:100%;
	margin-top: 3em;
}
.hrcut{
  background-color:#F0F0F0;
  border:0pt none;
  color:#223645;
  height:1px;
  margin:0 auto;
  text-align:center;
  box-shadow:5px -1px 1px #223645;
  border-opacity: 0.5;
  width:100%;
  margin-top: 3em;
}
div.back h1
{
	font-family: 'Roboto', sans-serif;
	font-size:300%;
    margin: 0 auto;
    padding: 0em 5% 1em;
	text-align: center;
    color: #223645;
}

div.paratxt h2
{
	font-family: 'Roboto', sans-serif;
	font-size:225%;
    margin: 0 auto;
	text-align: center;;
    color: #223645;	
}

h3{
  font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    padding: 0em 5%;
  text-align: center;
    color: #223645;
    opacity: 50%;
}

div.paratxt p
{
	font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    padding: 1em;
	text-align: justify;
    color: #223645;
    font-size:150%;
}

div.capteurtxt h2
{
	font-family: 'Roboto', sans-serif;
	font-size:225%;
    margin: 0 auto;
	text-align: center;
    color: #223645;	
}
div.capteurtxt p
{
	font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    padding: 0.25em;
	text-align: center;
    color: #223645;
    font-size:100%;

}


footer
{
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
  padding: 0em;
  text-align: center;
    background: #04AA6D;
}

footer h2
{
  font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    padding: 1em;
  text-align: center;
    color: #FFFFFF;
}

footer div.spacer
{
height: 1em;
overflow: hidden;
}



footer span
{
  color: #AAA;
}

footer div.marque
{
  font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    padding: 1em;
  text-align: center;
    color: #FFFFFF;
}
::-webkit-scrollbar {width: 7px;}
::-webkit-scrollbar-track {background: #DCDCDC; width: 1px;border-radius: 1px;}
::-webkit-scrollbar-thumb {background: #888;border-radius: 25px;}
::-webkit-scrollbar-thumb:hover {background: #04AA6D; }


.toshow{
  display: none;  
}

.tohide{
  display: table-cell;
}


.toshowd{
  display: none;  
}

.tohided{
  display: table-cell;
}


@media only screen and (max-width: 1675px) {

  .gauge-wrapt {margin:0em auto 1em}

}


@media only screen and (max-width: 1500px) {
  .col.duo{ 
    display: block;
    width: 80%;
    padding: 16px;
  }
  .gauge-wrap {margin:0em auto 1em}
  .gauge-wrapt {margin:0em auto 1em}
  .tohided{display:none;}
  .toshowd{display:block;}
}

@media only screen and (max-width: 1100px) {
  .col { 
    display: block;
    width: 80%;
    padding: 16px;
  }
  .gauge-wrap {margin:0em auto}
  .gauge-wrapt {margin:0em auto}
  .tohide{display:none;}
  .toshow{display:block;}

}




@media screen and (max-width: 550px) {
/*  .navbar a {
    float: none;
    display: block;
  }*/
  div.back h1{
    font-size: 200%;
  }
  div.navbar h1{
    font-size: 150%;
  }

}
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
  
}




div.board{
  display: none;
}

div.equipe{
padding: 0 5% 2em;

}

div.back h1{
  padding: 1em 5%;

}

.columncont {
  float: left;
  width: 31.3%;
  margin-bottom: 16px;
  padding: 0 1%;
}

.cardcont {
  box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  padding-bottom: 1.5em;
  background-color: #CACBCC ;
}

.about-sectioncont {
  
  text-align: center;
  background-color: #A2B5BF;
  color: white;
}

.containercont {
  padding: 0 16px;
}

.containercont::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.titlecont {
  color: grey;
}

.buttoncont {
  font-family: 'Roboto', sans-serif;
  border: none;
  outline: 0;
  display: inline-block;
  padding: 1em 2em;
  font-size: 16px;
  color: white;
  background-color: #04AA6D;
  text-align: center;
  cursor: pointer;
  width: 100%;
  margin:0 auto;

}

.buttoncont:hover {
  background-color: #038555;
}

@media screen and (max-width: 800px) {
  .columncont {
    width: 94%;
    display: block;
    padding:0 3%;
  }
  #pageEquipe h2.paratxt{
    font-size: 100%;
  }
  .titrepage{
  background: #F0F0F0 ;
  }
  div.board{
  display: block;
}

}

.rowcont{

  background-color: #F0F0F0;
  padding: 2% 0 0;
}

img.tete{
width: 90%;
margin: 0 auto;
  padding : 5%;
}

.flexible {
    flex-grow: 1;
}



.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}